
* {
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body {
    background: rgb(162, 163, 180);
}

#header-img {
    width: 3.125rem;
    height: 3.125rem;
    display: inline;
    margin: 1.25rem;
    margin-right: 0;
}

.title {
    display: inline;
    margin-top: 0;
    padding-top: 0%;
    margin: 1.25rem;
    padding-top: .25rem;
}

#header {
    width: 100%;
    height: 5.25rem;
    display: flex;
    vertical-align: middle;
    border-bottom: solid 2px rgb(155, 161, 171);
    border-radius: 0 0 1.875rem 1.875rem;
    position: fixed;
    background-color: rgb(162, 163, 180);
    top: 0%;
    
}

#nav-bar {
    
    justify-content: center;
    margin: auto 1rem auto auto;
}

#nav-bar li {
    display: inline;
    list-style: none;
    
}
a {
    text-decoration: none;
    color: brown;
    padding: 1.25rem;
    font-size: 1.25rem;
    
}
a:hover {
    color: rgba(153, 44, 44, 0.415);

    
}


li img {
    width: 3.5rem;
}

#nav-bar {
    right: 1.25rem;
    position: relative;
}

.product-image {
    width: 6.875rem;
    height: 6.875rem;
    margin: 0 auto;
    display: inline;
}

.select {
    width: 70%;
    height: 2.25rem;
    border: none;
    border-radius: 1.875rem;
    background-color: rgb(42, 97, 165);
    color: aliceblue;
    font-size: 1.25rem;
    margin: 1.25rem;


}

.select:hover {
    background-color: rgb(31, 61, 98);
}

.feature-elem {
    list-style: none;
    display: flex;
    align-items: center;
    padding: 1.25rem;
    border-bottom: solid 1px rgb(155, 161, 171);
    border-radius: 0 0 1.875rem 1.875rem;
}

.feature-elem h2 {
    display: block;
    font-size: 1.25rem;
}

.feature-elem p {
    margin: 1.25rem;
    font-size: 1.25rem;
    text-align: left;
}

li img {
    width: 3.5rem;
    margin-right: 1.25rem;
}

.features {
    width: 60%;
    margin: 0 auto;
    padding: 0;
}

#main-header {
    margin: 5.25rem auto 0 auto;
    width: 30%;
    display:block;
    align-items: center;
    justify-content: center;
    padding: 2.125rem;
}

#title-product {
    margin: 1.25rem 1.5rem auto auto;
    display: block;
    font-size: 1.25rem;
    padding: 0rem;
    text-align: center;
}

#email {
    display: block;
    margin: 1rem auto;
    padding: .625rem;
    width: 15.125rem;
    height: 3.25rem;
    border-radius: 1.875rem;
    border-style: none;
    text-align: center;
    font-size: 1rem;
}

#submit {
    display: block;
    margin: 1rem auto;
    font-size: 1.25rem;
    padding: 0.5rem;
    width: 15.125rem;
    border-radius: 1.875rem;
    border-style: none;
    height: 3.25rem;
    color: white;
    background-color: brown;
}

#submit:hover {
    color: brown;
    background-color: rgb(218, 161, 161);
}
#button:active {
    color: rgb(0, 0, 0);
    background-color: rgb(218, 161, 161);
}

.products {
    width: 60%;
    display: grid;
    grid-auto-flow: column;
    gap: 1.875rem;
    align-items: center;
    margin: 0 auto;

}
.product-header {
    height: 3.875rem;
    width: 100%;
    background-color: gray;
    margin: auto;
    border-radius: 1.875rem;
    padding: 0%;
    
}

.product-name {
    padding-top: 1.25rem;
    width: 100%;
}
.product {
    border: 2px solid rgb(105, 110, 117);
    border-radius: 1.875rem;
    text-align: center;
    display: block;
    padding: 1.25rem;
    padding-top: 0;
}

#video {
    margin: 2.25rem auto;
    width: 50rem;
    height: 37.5rem;
}

.multi-media {
    display: flex;
    justify-content: center;
}

footer ul {
    list-style: none;
    position: relative;
    margin: auto 1rem auto auto;
}

footer li {
    display: inline;
    font-size: 1.575rem;
    position: relative;
    right: 3.125rem;
    margin: 1.25rem;
}

footer li:hover {
    color: aliceblue;
}


footer {
    height: 12.125rem;
    width: 100%;
    padding: 5.375rem;
    
}

footer p {
    color: rgb(54, 70, 89);
}

@media only screen and (max-width: 820px) {
    #header {
        width: 100%;
        height: 7.25rem;
    }
    .products {
        grid-auto-flow: row;
        
    
    }

    #video {
        margin: 2.25rem auto;
        width: 30rem;
        height: 17.5rem;
    }
}